body {
    background-size: cover no-repeat;
    /* margin: 0 auto; */
}

.header {
    margin: 0 auto;
    width: 700px;
}

#content {
    background-color: white;
    opacity: .80;
    border: 5px solid #0153cd;
    width: 700px;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
}

hr {
    border: 1px solid #0153cd;
}