body {
    background-size: cover;
    /* margin: 0 auto; */
}

.header {
    margin: 0 auto;
}

#content {
    background-color: white;
    opacity: .80;
    border: 5px solid #0153cd;
    width: 800px;
    text-align: center;
}

hr {
    border: 1px solid #0153cd;
}